#star_bg{
	background: yellow;
	width: 1330px;
	height: 800px;
	margin: auto;
}
#star_img_dv{
	position: relative;
	width: 1330px;
	height: 800px;
}
#star_img{
	width: 1330px;
	height: 800px;
}
#line{
	position: relative;
	margin-top: -600px;
	margin-left: 650px;
}
#line_img{
	width: 2px;
	height: 320px;
}
#login{
	position: relative;
	width: 400px;
	height: 280px;
	background: black;
	margin-left: 700px;
	margin-top: -300px;
	opacity: 0.6;
	
}
#login_desc{
	position: relative;
	width: 400px;
	height: 280px;
		margin-left: 700px;
	margin-top: -300px;
}
#logo{
	position: relative;
	width: 480px;
	margin-top: -220px;
	margin-left:180px ;
}
#logo_img{
	width: 480px;
	height: 300px;
}
#c1{
	width: 75px;
	height: 30px;
}

h1{
	font-family: "微软雅黑";
	text-align: center;
	color: yellow;
}
bb{
	text-align: center;
	position: relative;
	margin-left: 50px;
	font-family: "微软雅黑";
	color: yellowgreen;
}

#first{
	position: relative;
	width: 300px;
	height: 240px;
	margin-top: -500px;
	margin-left: 25px;
}
#first_img{
	width: 240px;
	height: 120px;
}
#yz{
	position:relative;
	margin-top:-95px;
	margin-left:890px;
	width:120px;
	height:25px;
}
